
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.temp-visible {
  height: auto !important;
  display: inline-block !important;
  overflow: hidden !important;
  position: fixed !important;
  visibility: visible !important;
  float: none !important;
}

.temp-hidden {
  height: auto !important;
  display: inline-block !important;
  overflow: hidden !important;
  position: fixed !important;
  visibility: hidden !important;
  float: none !important;
}
